@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

.nav-link.active {
    color: #35cfff  !important;
  }

.btn-primary {
    background-color: #35cfff  !important; 
    border-color: #35cfff  !important; 
}

.btn-primary:hover {
    background-color: #2aa6d9  !important; 
    border-color: #2aa6d9  !important; 
}

.btn-secondary {
    background-color: #35cfff  !important; 
    border-color: #35cfff  !important; 
}

.btn-secondary:hover {
    background-color: #2aa6d9  !important; 
    border-color: #2aa6d9  !important; 
}

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
  }
  
  main {
    flex: 1 calc(100vh - 110px);
    display: flex;/* Center the search bar */
    justify-content: flex-start;
    flex-direction: column; /* Ensure vertical stacking of elements */
    align-items: stretch; /* Stretch children to full width */
    justify-content: flex-start;
    padding: 0; /* Remove any padding */
  }
  .user-box {
    background-color: #2aa6d9;
     /* Background color for the box */
    padding: 10px; /* Padding inside the box */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px; /* Space below the box */
    display: inline-block; /* Make it fit content */
}

.song-item label {
    font-size: 30px; /* Increase font size for song labels */
}

  .left-aligned {
    align-self: flex-start;
    width: 100%;
    text-align: left;
    padding-left: 0 20px;
    box-sizing: border-box;
    
  }

  .search-container {
    width: calc(100% - 40px);
    padding: 10px;
    max-width: none;
  }
  
  .search-form {
    display: flex;
    width: 100%;
    padding: 0 20px;
  }
  
  .search-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
  }
  
  .search-wrapper label {
    padding-right: 10px;
  }
  
  #search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .search-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  footer {
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh; /* Adjust for smaller screens */
      justify-content: flex-start; /* Ensure top alignment */
      align-items: flex-start; /* Align items to the left */
      padding-left: 20px; /* Optional padding from the left edge */
      width: calc(100% - 40px); /* Adjust width if you have left and right padding */
      box-sizing: border-box; /* Ensure padding is included in total width */
 }
}
  